<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>


		<!-- Configurações da conexão -->

		<!--<property name="connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>-->
		<!--<property name="connection.url">jdbc:derby:C:\Users\TiClivale\scc</property>-->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/scc</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>

		<!-- Pool de conexões JDBC -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<!-- <property name="dialect">org.hibernate.dialect.DerbyTenSevenDialect</property>-->
		
			<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		

		<!-- Gerenciamento da sessão -->
		<property name="current_session_context_class">thread</property>

		<!-- Disabilita a cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Exibe os comandos SQL -->
		<property name="show_sql">true</property>

		<property name="generateDdl">true</property>

 
		<!-- Cria as tabelas (refletindo-as de acordo às entidades java) -->
		<property name="hbm2ddl.auto">validate</property>



		<mapping class="model.domain.Regra" />
		<mapping class="model.domain.Usuario" />
		<mapping class="model.domain.Filial" />
		<mapping class="model.domain.Setor" />
		<mapping class="model.domain.Categoria" />
		<mapping class="model.domain.Conhecimento" />
		
		
		
		
		

	</session-factory>


</hibernate-configuration>